<!--SIDEBAR-->

<!-- <div class="has-fixed-sidenav"> -->
  <nav>
    <div class="nav-wrapper navbar-fixed grey darken-1">
      <a class="brand-logo" routerLink="/">ТыжПрограммист</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a>Имя пользователя</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav sidenav-fixed a-sidenav">
    <!-- <h4>ТыжПрограммист</h4> -->
    <h4>Меню:</h4>
    <li class="bold" routerLinkActive="active" *ngFor="let link of links">
      <a [routerLink]="[link.url]" class="waves-effect waves-orange">
        {{link.name}}
      </a>
    </li>

    

    <li class="bold last">
      <a href="#" class="waves-effect waves-orange" (click)="logout($event)">
        Выйти
      </a>
    </li>
  </ul>
<!-- </div> -->

<main class="content">
  <router-outlet></router-outlet>
</main>
