<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <img class="fullBg" src="image/logo.jpg">
  <h5 class="my-0 mr-md-auto font-weight-normal">ТыжПрограммист</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/">Главная</a>
    <a class="p-2 text-dark" routerLink="/specialist">Специалисты</a>
    <a class="p-2 text-dark" routerLink="/about">Контакты</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink="/">Войти</a>
</div> -->

<router-outlet></router-outlet>
