<div class="page-title">
  <h4>Наши услуги</h4>
  <button class="waves-effect waves-light btn grey darken-1" (click)="onAddService()">Добавить услугу</button>
</div>

<div class="row" *ngIf="services$ | async as services; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="services.length !== 0; else empty">
      <a class="collection-item collection-item-icon" *ngFor="let service of services"
        (click)="onSelectService(service)">
        <span>
          <strong>Услуга: </strong> {{service.name}}
        </span>
        <span>
          <i class="material-icons" (click)="onDeleteService($event, service)">delete</i>
        </span>
      </a>
    </div>
    <ng-template #empty>
      <div class="center">
        В системе пока нет ни одного специалиста
      </div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">{{modalTitle}}</h4>

      <div class="input-field">
        <input formControlName="name" type="text"
          [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
        <label for="pos-name">Имя</label>
        <span *ngIf="form.get('name').invalid && form.get('name').touched" class="helper-text red-text">
          Имя не должно быть пустым
        </span>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat"
        [disabled]="form.disabled">Отмена</button>
      <button class="modal-action btn waves-effect" type="submit" [disabled]="form.invalid || form.disabled">
        Сохранить
      </button>
    </div>

  </div>

</form>
