<nav>
  <div class="nav-wrapper grey darken-2">
    <a class="brand-logo" routerLink="/">
      <a class="navbar-item">
        <!-- <img src="app/image/logo.png"> -->
        <img src="assets/logo.png" height="30" width="50">
      </a>

      ТыжПрограммист
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Главная</a></li> -->
      <li routerLinkActive="active"><a routerLink="/about">О нас</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Вход</a></li>
      <li routerLinkActive="active"><a routerLink="/register">Регистрация</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
